body {
	background: #fefefe;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000022
}
.container{
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
nav	ul	{
	list-style-type: none;
	margin: 0%;
	padding: 0;
	text-align: center;

	li{
		margin: 0%;
		padding: 0%;
		display: inline-block;
		
		a{
			padding: 10px 15px;
			text-decoration: none;
			color:#000022;
			&:active{
				color: blue;
			}
			&:hover {
				color: blue;
			}
		
		}
	}
}
aside{
	background-color: #dddddd;
	height: 300px;
	overflow: hidden;
	margin-top: 45px;
	.container{
		height: 100%;
	}
	h2{
		position: absolute;
		bottom: 30px;
		left: 0;
		margin-bottom: 0;
	}
	a{
		position: absolute;
		bottom: 30px;
		right: 0;
		padding: 15px;
		background-color: pink;
		color:black;
		&:hover{
			background-color: blue;
			color:white
		}
		text-decoration: none;
		border-radius: 8px;
	}
}