﻿@import "variables";
@import "mixins";
/*_bootstrap-overrides.scss*/

.dropdown-menu {
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 0;
}

.dropdown-menu > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
}

.pager li > a, 
.pager li > span {
    border-radius: 0 !important;

}

.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus {
    background: $coopColor;
    border-color: $coopColor;
}

.nojs {
    @include bootstrap-sm {
        .dropdown:hover > .dropdown-menu {
            display: block;
        }
    }
}

.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus {
    filter: none;
    background: $coopColor;
    color: #fff;
}

.navbar-collapse.in {
    overflow: visible;
}

.navbar {
    border: 0;
    min-height: 0;
}



/********Form Overides********/

.form-control {
    background-color: #fff;
    background-image: none;
    border: 2px solid #d9d9d9;
    border-radius: 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset;
    color: #555555;
    display: block;
    font-size: 14px;
    height: 42px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

.input-group-addon {
    border: 2px solid #d9d9d9;
    padding: 6px 12px;
}

label {
    color: $coopColor;
}

option {
    background: #ededed none repeat scroll 0 0;
    padding: 7px 12px;
}

.btn {
    padding:10px 15px;
    margin: 0 5px 0 0;
}

.btnSubmitForm {
    background: #00a651;
     &:hover {
         background:#008a43;
     }
}


blockquote {
    background: #eee none repeat scroll 0 0;
    border-left: 5px solid #0051a0;
    font-size: 17.5px;
    margin: 0 0 20px;
    padding: 15px 20px 30px;

    footer {
        color:$coopColor;
        font-weight:bold;
        margin-top: $gutter * 2;

        &:before, blockquote small::before, blockquote .small::before {
            content: "";
        }
    }
}

.panel.panel-default {
    border: medium none;
}

.panel-default > .panel-heading {
    background-color:#eee;
    background-image: none !important;
}

.panel-heading {
    background-image: none !important;
    background-clip: border-box;
    background-image: none;
    transition: 0.3s;

    .panel-title {
        padding: 7px 0;
    }

    &:hover {
        background: #ddd;
    }

    :active {
        background: #ddd;
    }

    a {
        text-decoration : none;
    }
}