﻿@import "variables";
@import "mixins";
/*_bootstrap-extensions.scss*/

.spacer {
    margin-top: $gutter;
    margin-bottom: $gutter;
}

.spacerTop {
    margin-top: $gutter;
}

.spacerBottom {
    margin-bottom: $gutter;
}

.noPadRight {
    padding-right: 0;
}

.noPadLeft {
    padding-left: 0;
}

.textLight {
    color: #acacac;
}

@mixin block-link() {
    display: block;
    padding: 8px 15px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

    &:after {
        font-family: "FontAwesome";
        content: "\f054";
        float: right;
        margin-left: 15px;
    }

    &:hover {
        background: rgba(0,0,0,0.1);
        text-decoration: none;
    }
}

a.blockLink {
    @include block-link();
}

@mixin bootstrap-extensions($size) {
    .col-#{$size}-fifths {
        width: 20%;
    }

    .col-#{$size}-sevenths {
        width: 14.28571528%;
    }

    .col-#{$size}-eighths {
        width: 12.5%;
    }

    .col-#{$size}-ninths {
        width: 11.11111111%;
    }

    .col-#{$size}-tenths {
        width: 10%;
    }

    .col-#{$size}-elevenths {
        width: 9.09090909%;
    }

    .noPadLeft-#{$size} {
        padding-left: 0;
    }

    .noPadRight-#{$size} {
        padding-right: 0;
    }

    .spacer-#{$size} {
        margin-top: $gutter;
        margin-bottom: $gutter;
    }

    .spacerTop-#{$size} {
        margin-top: $gutter;
    }

    .spacerBottom-#{$size} {
        margin-bottom: $gutter;
    }

    .text-right-#{$size} {
        text-align: right;
    }

    .text-left-#{$size} {
        text-align: left;
    }

    .text-center-#{$size} {
        text-align: center;
    }

    .pull-right-#{$size} {
        float: right !important;
    }

    .pull-left-#{$size} {
        float: right !important;
    }

    .pull-none-#{$size} {
        float: none !important;
    }

    a.blockLink-#{$size} {
        @include block-link();
    }
}

@include bootstrap-xs {
    @include bootstrap-extensions(xs);
}

@include bootstrap-sm {
    @include bootstrap-extensions(sm);
}

@include bootstrap-md {
    @include bootstrap-extensions(md);
}

@include bootstrap-lg {
    @include bootstrap-extensions(lg);
}

@include bootstrap-lt-xs {
    @include bootstrap-extensions(lt-xs);
}

@include bootstrap-lt-sm {
    @include bootstrap-extensions(lt-sm);
}

@include bootstrap-lt-md {
    @include bootstrap-extensions(lt-md);
}

@include bootstrap-o-xs {
    @include bootstrap-extensions(o-xs);
}

@include bootstrap-o-sm {
    @include bootstrap-extensions(o-sm);
}

@include bootstrap-o-md {
    @include bootstrap-extensions(o-md);
}

@include bootstrap-o-lg {
    @include bootstrap-extensions(o-lg);
}