﻿@import 'variables';

@mixin border-radius($radius: 5px) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin bootstrap-xs {
    @media (min-width: 0) {
        @content;
    }
}

@mixin bootstrap-sm {
    @media (min-width: $screen-sm-min) {
        @content;
    }
}

@mixin bootstrap-md {
    @media (min-width: $screen-md-min) {
        @content;
    }
}

@mixin bootstrap-lg {
    @media (min-width: $screen-lg-min) {
        @content;
    }
}

@mixin bootstrap-lt-xs {
    @media (max-width: $screen-xs-max) {
        @content;
    }
}

@mixin bootstrap-lt-sm {
    @media (max-width: $screen-sm-max) {
        @content;
    }
}

@mixin bootstrap-lt-md {
    @media (max-width: $screen-md-max) {
        @content;
    }
}

@mixin bootstrap-o-xs {
    @media (max-width: $screen-xs-max) {
        @content;
    }
}

@mixin bootstrap-o-sm {
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        @content;
    }
}

@mixin bootstrap-o-md {
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        @content;
    }
}

@mixin bootstrap-o-lg {
    @media (min-width: $screen-lg-min) {
        @content;
    }
}