﻿//Font variables
$fontColor: #6a6a6a;
$openSans: 'OpenSans', Arial, sans-serif;
$openSansBold: 'OpenSansBold', Arial, sans-serif;
$openSansItalic: 'OpenSansBold', Arial, sans-serif;
$nunito: 'Nunito', sans-serif;
$oxygen: 'Oxygen', sans-serif;

$mainFont: $nunito;
$mainFontBold: $nunito;
$mainFontItalic: $nunito;

//Color variables
$coopColor: #0051a1;
$coopDarkColor: #0b3571;
$coopLightColor: #296cca;
$buttonColor: #0072bc;
$buttonHighlightColor: #d8790f;
$memberColor: #f8b010;
$membershipColor: #f8b010;
$lightBackground: #d9d9d9;
$lightestBackground: #ededed;
$menuBackground: #1f2d4e;
$menuHoverBackground: #303f66;
$menuLightText: #b3c8e6;
$footerLinkColor: #adbdd8;

//brands
$energyColor: #a483a2;
$travelColor: #f6ba6b;
$healthcareColor: #90d6d3;
$childcareColor: #dd6aa8;
$funeralColor: #b2b5d9;
$foodColor: #c9dd7a;
$postOfficeColor: #ee6b71;
$flexibleBenefitsColor: #71b0da;
//brands hover
$energyColorHover: #683064;
$travelColorHover: #f18c00;
$healthcareColorHover: #4fbbb6;
$childcareColorHover: #c6076e;
$funeralColorHover: #7f83bf;
$foodColorHover: #a6c723;
$postOfficeColorHover: #e60004;
$flexibleBenefitsColorHover: #007dc5;

//Layout variables
$gutter: 15px;
$thinGutter: 5px;

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;