body {
  background: #fefefe;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #000022; }

.container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
  position: relative; }

nav ul {
  list-style-type: none;
  margin: 0%;
  padding: 0;
  text-align: center; }
  nav ul li {
    margin: 0%;
    padding: 0%;
    display: inline-block; }
    nav ul li a {
      padding: 10px 15px;
      text-decoration: none;
      color: #000022; }
      nav ul li a:active {
        color: blue; }
      nav ul li a:hover {
        color: blue; }

aside {
  background-color: #dddddd;
  height: 300px;
  overflow: hidden;
  margin-top: 45px; }
  aside .container {
    height: 100%; }
  aside h2 {
    position: absolute;
    bottom: 30px;
    left: 0;
    margin-bottom: 0; }
  aside a {
    position: absolute;
    bottom: 30px;
    right: 0;
    padding: 15px;
    background-color: pink;
    color: black;
    text-decoration: none;
    border-radius: 8px; }
    aside a:hover {
      background-color: blue;
      color: white; }
